{% include "header.html" %}
<style>
  .article-test {
    overflow: hidden;
    position: relative; 
    line-height: 1rem;
    max-height: 5rem; 
    text-align: justify;  
    margin-right: -1rem;
    padding-right: 1rem;
}

/* create the ... */
.article-test:before {
content: '...';
position: absolute;
right: 0;
bottom: 0;
}

.article-test:after {
content: '';
position: absolute;
right: 0;
width: 1rem;
height: 1rem;
margin-top: 0.2rem;
background: white;
}
</style>
<title>Articles</title>
<main>
	<section class="section">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="row">
            {% for post in posts %}
						<div class="col-md-6 mb-4">
							<article class="card article-card article-card-sm h-100">
								<a href="/article/{{post.slug}}">
									<div class="card-image">
										<div class="post-info"> <span class="text-uppercase">{{post.created_at}}</span>
											
										</div>
										<img loading="lazy" decoding="async" src="{{post.image.url}}" alt="Post Thumbnail" class="w-100" width="420" height="280">
									</div>
								</a>
								<div class="card-body px-0 pb-0">
									<ul class="post-meta mb-2">
										<li> <a href="#!">travel</a>
											<a href="#!">news</a>
										</li>
									</ul>
									<h2><a class="post-title" href="/article/{{post.slug}}">{{post.title}}</a></h2>
									<p class="card-text article-test">{{post.short_desc}}</p>
									<div class="content"> <a class="read-more-btn" href="/article/{{post.slug}}">Read Full Article</a>
									</div>
								</div>
							</article>
						</div>
            {% endfor %}
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <nav class="mt-4">
                    <!-- pagination -->
                    {% if posts.has_other_pages %}
                    <nav class="mb-md-50">
                      <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                        
                        <li class="page-item">
                          <a
                            class="page-link"
                            href="?page={{ posts.previous_page_number }}"
                            aria-label="Pagination Arrow"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="26"
                              height="26"
                              fill="currentColor"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
                              />
                            </svg>
                          </a>
                        </li>
                    {% endif %}

                        {% for i in posts.paginator.page_range %}
                        <li class="page-item {% if i == posts.number %}active{% endif %}">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if posts.has_next %}
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page={{ posts.next_page_number }}"
                        aria-label="Pagination Arrow"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="26"
                          height="26"
                          fill="currentColor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                          />
                        </svg>
                      </a>
                    </li>
                {% endif %}
                        
                      </ul>
                    </nav>
                    {% endif %}
                  </nav>
                </div>
              </div>
            </div>
					</div>
				</div>
        <div class="col-lg-4">
          {% include "sidebar.html" %}
</div>
			</div>
		</div>
	</section>
</main>
{% include "footer.html" %}